{% extends "layouts/base.html" %}

{% set organization = helpers.findInCollection(collections.organizations, page.inputPath) %}

{% set openRolesList %}
    {% set rolesList = helpers.filterRolesByOrganization(collections.roles, organization) %}
    {% if rolesList | length %}
        <section>{% include "partials/lists/roles-list.html" %}</section>
    {% endif %}
{% endset %}

{% block content %}
    <article class="role | stack">
        <header>
            <h1>{{ name }}</h1>
            <address>{{ address }}</address>
        </header>

        <section>
            <div class="markdown | stack | font-size:lg">
                {{ content | safe }}
            </div>
        </section>

        {% if openRolesList %}
            {{ openRolesList | safe }}
        {% endif %}
    </article>

{% endblock %}