{% extends "layouts/base.html" %}
{% set role = helpers.findInCollection(collections.roles, page.inputPath) %}

{% if role %}
    {% set organization = helpers.getOrganizationByRole(collections.organizations, role) %}

    {% block content %}
        <article class="role | stack">
            <header class="role_header | flow:sm">
                <h1>{{ role.data.title }}</h1>
                <a href="{{ organization.url }}" class="blink" up-instant up-layer="swap">
                    {{ organization.data.name }}
                </a>
            </header>

            <section>
                <div class="stack | flow:sm font-size:lg">
                    {{ role.content | safe }}
                </div>
            </section>
        </article>
    {% endblock %}
{% endif %}
