/*
 * VARIABLES
 * *********************************************************************************************/
:root {
    --color-primary: hsl(240, 100%, 50%);
    --color-primary-glare: hsl(240, 100%, 95%);
    --color-primary-shade: hsl(240, 100%, 15%);
    --color-light: hsl(0, 0%, 100%);

    --text\:base: 1rem;
    --ratio: 1.4; /* 1.4 picked to match line-height in reset */

    --text\:xs: calc(var(--text\:sm) / var(--ratio));
    --text\:sm: calc(var(--text\:base) / var(--ratio));
    --text\:lg: calc(var(--text\:base) * var(--ratio));
    --text\:xl: calc(var(--text\:lg) * var(--ratio));
    --text\:2xl: calc(var(--text\:xl) * var(--ratio));
    --text\:3xl: calc(var(--text\:2xl) * var(--ratio));

    --space: 1.4rem; /* 1.4 picked to match line-height in reset */
    --space\:2xs: calc(var(--space\:xs) / var(--ratio));
    --space\:xs: calc(var(--space\:sm) / var(--ratio));
    --space\:sm: calc(var(--space) / var(--ratio));
    --space\:lg: calc(var(--space) * var(--ratio));
    --space\:xl: calc(var(--space\:lg) * var(--ratio));
    --space\:2xl: calc(var(--space\:xl) * var(--ratio));
    --space\:3xl: calc(var(--space\:2xl) * var(--ratio));

    --measure: 60ch;
    --gutter: var(--space);
    --flow: var(--space);
}

/* 
 * Used
 * Space: base, sm, lg, xl
 */

/*
 * THEME
 * *********************************************************************************************/

::selection {
    background-color: var(--color-primary-shade);
    color: var(--color-light);
}

body {
    padding-block: var(--space\:xl);
    background-color: var(--color-primary);
    color: var(--color-light);
}

a {
    color: inherit;
    cursor: pointer;
}

h1,
h2 {
    line-height: 1.1;
}

h1 { font-size: var(--text\:3xl); }
h2 { font-size: var(--text\:xl); }

ul,
ol {
    padding-inline-start: var(--space\:lg);
}

up-modal,
up-modal-backdrop,
up-modal-viewport,
up-focus-trap,
up-modal-content,
up-modal-dismiss {
    max-inline-size: none;
}

up-modal-box,
up-modal-box::before {
    inline-size: unset !important;
    border-radius: var(--space);
}

up-modal-box {
    /* Behaves like .center */
    --measure: 51.25rem;
    --gutter: var(--text\:xl);

    /* OVERRIDES */
    padding-block: var(--space\:xl);
    position: relative;

    /* THEME */
    color: var(--color-primary);
    border: 2px solid var(--color-primary-shade);
}

up-modal-box::before {
    pointer-events: none;
    max-inline-size: none;
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 2001;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid var(--color-primary-glare);
}

/*
 * LAYOUTS
 * *********************************************************************************************/
.center,
up-modal-box {
    /**
     * Overrides:
     * --measure
     * --gutter
     *
     * 1. Remove padding from the width calculation
     * 2. The maximum width is the maximum measure
     * 3. Only affect horizontal margins
     * 4. Apply the minimum horizontal space from surroundings
     */
    box-sizing: content-box; /* 1. */
    max-inline-size: var(--measure); /* 2. */
    margin-inline: auto; /* 3. */
    padding-inline-start: var(--gutter); /* 4 */
    padding-inline-end: var(--gutter); /* 4 */
}

.stack {
    /**
     * Overrides:
     * --flow
     */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * + * {
    margin-block-start: var(--flow);
}

.stack:only-child {
    block-size: 100%;  /* `height` in horizontal-tb writing mode */
}

/* 
 * COMPONENTS
 * *********************************************************************************************/
.blink {
    text-decoration: none;
}

.blink:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.skip-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 99;

    /* NOTE: .skip-link styled like a button to increate visibility */
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-light);
    color: var(--color-primary-shade);
    border: 2px solid var(--color-primary-shade);
}

.skip-link:not(:focus) {
    /* NOTE: Same as .visually-hidden */
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/*
 * UTILITY CLASSES
 * *********************************************************************************************/
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.font-size\:sm { font-size: var(--text\:sm) !important; }
.font-size\:lg { font-size: var(--text\:lg) !important; }

.flow { --flow: var(--space) !important; }
.flow\:2xs { --flow: var(--space\:2xs) !important; }
.flow\:sm { --flow: var(--space\:sm) !important; }
.flow\:xl { --flow: var(--space\:xl) !important; }

.margin-block\:0 { margin-block: 0 !important; }