<a href="#main-content" class="skip-link">Skip to content</a>

<header class="site-head">
    <nav>
        <ul role="list" class="margin-block:0">
            <li>
                <a 
                    href="/"
                    class="blink"
                    up-preload
                    up-target="{{ ui['up-target'] }}"
                    aria-label="{{ site.name }} - home"
                >
                    {{ site.name }}
                </a>
            </li>

            {% if headerOrganizationUrl and headerOrganizationLabel %}
                <li>
                    <a 
                        href="{{ headerOrganizationUrl }}"
                        class="blink"
                        up-instant
                        up-layer="swap"
                    >
                        {{ headerOrganizationLabel }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>